.latest-news .section-title {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.latest-news .section-title:before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 1px;
    background: #ddd;
    z-index: -1;
    margin: 0 20px;
}

.latest-news .section-title span {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
}

.latest-news .filters ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.latest-news .filters .brand{
   //display: inline;
    padding-left: 10px;
    margin-bottom: 16px ;
}
.latest-news .filters .brand a{
    padding: 8px;
    color: #000;
    font-weight: 700;
    font-size: 0.9em;
    display: inline-block;
    text-transform: capitalize;
}
.latest-news .filters .brand a.selected{
   border:1px solid #ccc;
    border-radius: 2px;
}

/********search pagination*******/

.search-pagination .navigation{
    display: block;
}
.search-pagination .navigation.next{
    margin-top: 10px;
}
.search-pagination .navigation.previous{
    margin-bottom: 10px;
}


@media (min-width:500px) {
    .search-pagination {
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }
}
.search-pagination {
    text-align: center;
    margin: 20px 0;
    padding: 24px;
}

.search-pagination a,.search-pagination span {
    color: #292929;
    text-decoration: none;
    border:1px solid #ccc;
    border-radius: 4px;
    padding: 10px;

}

.search-pagination .pages span ,.search-pagination .pages a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    line-height: 16px;
}

.search-pagination .pages a.selected {
    background: #000;
    //box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.3);
    color: #b9bed1;
}
